
<!-- Video Content Section-->
<div class="content">
    <div class="columns">
      <div class="column is-offset-1 is-10">
        <div class="h1-label">{{basicList.title}}</div>
      </div>
    </div>

    <div class="columns">
        <div class="column is-offset-1 is-10">
            <app-video-bar [videos]="basicList"></app-video-bar>
        </div>
    </div>
      
    <div class="columns">
        <div class="column is-offset-1 is-10">
          <div class="h1-label">{{demoList.title}}</div>
        </div>
    </div>
      
    <div class="columns">
        <div class="column is-offset-1 is-10">
            <app-video-bar [videos]="demoList"></app-video-bar>
        </div>
    </div>

    <div class="columns">
        <div class="column is-offset-1 is-10">
          <div class="h1-label">{{tutorialList.title}}</div>
        </div>
    </div>

    <div class="columns">
      <div class="column is-offset-1 is-10">
        <app-video-bar [videos]="tutorialList"></app-video-bar>
      </div>
    </div>

</div>
