<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav [(opened)]="drawerOpened" class="sidenav" role="navigation" position="end" *ngIf="cache.isMenuVisible">
    <mat-nav-list>
      <a mat-list-item (click)="scrollTo('why')">Why SkyDRM</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="scrollTo('features')">Features</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="scrollTo('tutorial')">Tutorial</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="scrollTo('download')">Download</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="scrollTo('reachus')">Reach Us</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]='["/resources"]'>Resources</a>
      <mat-divider></mat-divider>

      <input mat-list-item type="button" class="skydrm-login-button-2"
            value="Sign up" (click)="gotoRegister()" />

      <input mat-list-item type="button" class="skydrm-login-button-2"
            value="Login" (click)="gotoLogin()" />

    </mat-nav-list>
  </mat-sidenav>
  

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1em">
        <div class="logo-panel">
          <a href="https://www.nextlabs.com" target="_blank">
            <img class="img-logo" src="assets/img/skydrm/nextlabs_logo.svg" alt="nextlabs"/>
          </a>
        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div class="cloudaz-panel">
          <a routerLink="/home" fragment="section1">
            <img class="img-skydrm" src="assets/img/skydrm/skydrm_logo.svg" alt="skydrm" />
          </a>
        </div>
      </div>

      <ng-container *ngIf="cache.isMenuVisible">
        <div class="menu-panel" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="0" fxHide.lt-sm>
          <div fxFlex>
            <span class="menu-item" (click)="scrollTo('why')">Why SkyDRM</span>
            
          </div>
          <div fxFlex>
            <span class="menu-item" (click)="scrollTo('features')">Features</span>
            
          </div>
          <div fxFlex fxHide.lt-md>
            <span class="menu-item" (click)="scrollTo('tutorial')">Tutorial</span>
              
          </div>
          <div fxFlex fxHide.lt-md>
            <span class="menu-item" (click)="scrollTo('reachus')">Reach Us</span>
          </div>
          <div fxFlex fxHide.lt-md>
            <span class="menu-item" [routerLink]='["/resources"]'>Resources</span>
          </div>
        </div>

        <div class="fill-remaining-space"></div>

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em" fxHide.lt-sm>
          <button class="skydrm-register-button" (click)="gotoRegister()">Sign up</button>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em" fxHide.lt-sm>
          <button class="skydrm-login-button" (click)="gotoLogin()">Login</button>
        </div>

        <div fxLayout="row" fxLayoutAlign="end" fxHide.gt-xs>
          <button type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="clickDrawer()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        </div>
      </ng-container>

    </mat-toolbar>

    <!-- Add Content Here -->
    <div id="main-content">
      <div fxLayout="column" fxLayoutAlign="center">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center" id="main-footer">
      <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="0.5em" fxFlex="80">
          <div fxLayout="row" fxLayoutAlign="center center">
            <span class="footer-padding">
              <a href="https://www.skydrm.com" target="_self">
                <img width="84" src="assets/img/skydrm/skydrm_logo_2.png" alt="skydrm" />
              </a>
            </span>
            <span class="footer-icon-padding">
              <a href="https://twitter.com/nextlabs" target="_blank">
                <img width="26" src="assets/img/skydrm/twitter_logo.png" alt="twitter" />
              </a>
            </span>
            <span class="footer-icon-padding">
              <a href="https://www.linkedin.com/company/nextlabs" target="_blank">
                <img width="26" src="assets/img/skydrm/linkedin_logo.png" alt="linkedin" />
              </a>
            </span>
            <span class="footer-icon-padding">
              <a href="https://www.nextlabs.com" target="_blank">
                <img width="26" src="assets/img/skydrm/nextlabs_logo_2.png" alt="nextlabs" />
              </a>
            </span>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
            <div fxLayout="column" fxLayoutAlign="center">
              <a href="https://www.nextlabs.com/terms-conditions-rights-management/" target="_blank">Terms &amp; Conditions</a>
            </div>

            <div fxLayout="column" fxLayoutAlign="center">
              <span class="footer-vertical-divider"></span>
            </div>
            <a href="https://www.nextlabs.com/privacy-policy/" target="_blank">Privacy Policy</a>
          </div>
        </div>

      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center" id="main-footer-bar">
      <div fxLayout="row" fxLayoutAlign="center">
        <p>Copyright © 2022 NextLabs, Inc. All rights reserved.</p>
      </div>
    </div>

    <div id="consent-pane" class="cookie-consent-bar" *ngIf="showCookieConsent">
      <div class="section section-bar">
        <div class="columns">
          <div class="column is-10">
            <span>We use cookies to improve your experience on our website. By continuing you are 
              giving consent to cookies being used. For more information on cookies and how we use them, 
              see our
            </span>
            <a class="consent-link" href="https://www.nextlabs.com/privacy-policy/" target="_blank">Privacy Policy</a>      
          </div>
          <div class="column is-2">
            <button class="skydrm-consent-button" (click)="updateCookieConsent()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  
  </mat-sidenav-content>

</mat-sidenav-container>

