.section-panel {
    font-family: Lato;
    font-style: normal;
    color: #36424A;
    background: #FFFFFF;

    padding-top: 5em;
    padding-bottom: 3em;
    width: 100%;
}

.sub-header {
    font-weight: bold;
    font-size: 1.5em;
    line-height: normal;

    color: #36424A;
}

.content-1 {
    font-weight: normal;
    font-size: 1.2em;
    line-height: 2em;
    color: #36424A;

    padding-bottom: 1em;
}

.sub-header-2 {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 2e m;
    text-align: left;
}

.m-sub-header-2 {
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 2em;
    text-align: center;
}

.content-2 {
    font-weight: normal;
    font-size: 1em;
    line-height: 2em;

    padding-top: 1.5em;
}

.video-button {
    margin-top: 2em;
    padding-left: 2em;
    padding-right:2em;
}

.icon-img {
    padding-left: 3em;
    padding-right: 3em;
}
